body{
    background-color: rgb(229, 170, 112);
    opacity: 0.85;
    
}
.nav{
    
   
        position: fixed;
        top: 0;
        left: 0;
        width: 200px;
        height: 100%;
        margin-top: 20px;
   

}
nav ul{
    list-style: none;
} 
nav ul li a{
    text-decoration: none;
}
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #FFFDD0;
    padding: 10px;
    border-top: 1px solid black;
}

.footer-heading {
    margin: 0;
    
}

/*
Def.html
*/
body div.container-def p{
    font-size: 25px;
} 
.flex-container {
    display: flex;
}


.nav-def {
    flex: 0;
}

.content {
    flex: 1;
    padding-left: 200px;
}